body {
    font-family: "Roboto", sans-serif;
}

.topo {
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #DBDBDB;
}

.topoCaixa {
    width: 935px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a:nth-child(1) img {
    height: 22px;
    padding-right: 10px;
    border-right: 1px solid #DBDBDB;
}

.logo a:nth-child(2) img {
    width: 103px;
    padding-left: 5px;
}

.pesquisa input {
    width: 215px;
    height: 28px;
    background-color: #FAFAFA;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #979797;
}

a {
    text-decoration: none;
    color: inherit;
}

.topo .icones ion-icon {
    font-size: 22px;
    padding-left: 20px;
}

.center {
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
}

.container {
    margin-top: 34px;
    width: 935px;
    display: flex;
    justify-content: space-between;
}

.boxLeft {
    width: 614px;
    height: 100%;
}

.stories {
    background-color: #FFFFFF;
    height: 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    overflow-x: auto;
    position: relative;
    margin-bottom: 24px;
    scrollbar-width: none;
}

.stories::-webkit-scrollbar {
    display: none;
}

.stories ion-icon {
    color: rgb(255, 255, 255);
    border-radius: 50%;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3)); 
    font-size: 32px;
    position: absolute;
    top: 43px;
    right: 8px;
    z-index: 1;
}

.avatar {
    margin-left: 14px;
    width: 66px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.avatar a:nth-child(1) img{
    height: 66px;
    border-radius: 50%;
}

.avatar a:nth-child(2) img{
    height: 56px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 5px;
}

.avatar a{
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: 400;
}

.feed {    
    background-color: #FFFFFF;
    margin-bottom: 60px;
    height: 749px;
    border: 1px solid #DBDBDB;
}







.boxRight {
    background-color: green;
    width: 293px;
    height: 100%;
}


