body {
    font-family: "Roboto", sans-serif;
}

.topo {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #DBDBDB;
}

.topoCaixa {
    width: 935px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a:nth-child(1) img {
    height: 22px;
    padding-right: 10px;
    border-right: 1px solid #DBDBDB;
}

.logo a:nth-child(2) img {
    width: 103px;
    padding-left: 5px;
}

.pesquisa input {
    width: 215px;
    height: 28px;
    background-color: #FAFAFA;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #979797;
}

a {
    text-decoration: none;
    color: inherit;
}

.topo .icones ion-icon {
    font-size: 22px;
    padding-left: 20px;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
}

.container {
    margin-top: 34px;
    width: 935px;
    display: flex;
    justify-content: space-between;
}

.boxLeft {
    width: 614px;
    height: 100%;
}

.stories {
    background-color: #FFFFFF;
    height: 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    overflow-x: auto;
    position: relative;
    margin-bottom: 24px;
    scrollbar-width: none;
}

.stories::-webkit-scrollbar {
    display: none;
}

.stories ion-icon {
    color: rgb(255, 255, 255);
    border-radius: 50%;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3)); 
    font-size: 32px;
    position: absolute;
    top: 43px;
    right: 8px;
    z-index: 1;
}

.avatar {
    margin-left: 14px;
    width: 66px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.avatar a:nth-child(1) img{
    height: 66px;
    border-radius: 50%;
}

.avatar a:nth-child(2) img{
    height: 56px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 5px;
}

.avatar a{
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: 400;
}

.feed {    
    background-color: #FFFFFF;
    margin-bottom: 60px;
    height: 749px;
    border: 1px solid #DBDBDB;
}

.topFeed {
    display: flex;
    height: 61px;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px;
}

.topFeedLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.topFeedLeft img {
    margin-right: 15px;
    height: 32px;
    border-radius: 50%;
}

.imgFeed img {
    width: 100%;
    height: 612px;
    justify-content: space-between;
}

.iconFeed {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    margin: 10px 15px 0 15px;
}

.iconFeedLeft ion-icon {
    margin: 0 13px 0 0; 
}

.iconFeed ion-icon {
}

.likeFeed {
    display: flex;
    align-items: center;
    margin: 7px 0 54px 17px;                         ;
}

.likeFeed img {
    margin-right: 10px;
    background-color: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.likeFeed p {
    font-size: 14px;
    font-weight: 300;
}

.likeFeed span {
    font-size: 14px;
    font-weight: 500;
}

.sidebar {
    width: 293px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.boxRightTop {
    margin-top: 23px;
    display: flex;
}

.boxRightTop img{
    border-radius: 50%;
    height: 56px;
}

.boxRightTopTexts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 17px;
}

.boxRightTopTexts :first-child p {
    font-size: 14px;
    font-weight: 500;
    color: #262626;
    margin-bottom: 4px;
}

.boxRightTopTexts :last-child p {
    font-size: 14px;
    font-weight: 300;
    color: #8E8E8E;
}

.suggestion {
    display: flex;
    justify-content: space-between;
    margin: 24px 0 17px 0;
}

.suggestion :first-child p {
    font-size: 12px;
    font-weight: 500;
    color: #8E8E8E;
}

.suggestion :last-child p {
    font-size: 12px;
    font-weight: 500;
    color: #262626;
}

.suggestions {
    display: flex;
    justify-content: space-between;
    margin: 18px 0 17px 0;
}

.suggestionsLeft {
    display: flex;
    align-items: center;
}

.suggestionsLeft img {
    height: 32px;
    border-radius: 50%;
    margin-right: 11px;
}

.SuggestionsTexts :first-child p {
    font-size: 14px;
    font-weight: 500;
    color: #262626;
}

.SuggestionsTexts :last-child p {
    font-size: 12px;
    font-weight: 300;
    color: #8E8E8E;
    margin-top: 6px;
}

.suggestions p {
    font-size: 12px;
    font-weight: 500;
    color: #139EF2;
}

.boxRightLinks, .boxRightCopright {
    font-size: 11px;
    font-weight: 400;
    color: #C7C7C7;
    line-height: 1.3;
    margin-bottom: 18px;
}

.footer {
    display: none;
}

@media (max-width: 935px){
    
    .sidebar {
        display: none;
    }

    .container {
        margin-top: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 614px){
    
.topo, .container, .feed, .stories {
    width: 100vh;
}

.boxLeft {
    width: 100%;
}

.feed img {
    width: 100%;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.center {
    width: 100%;
}

.stories {
    background-color: inherit;
    margin-bottom: 0;
}

.stories ion-icon{
    display: none;
}

.footer {
    display: none;
    width: 100%;
    background-color: #FFFFFF;
    border-top: 1px solid #DBDBDB;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer ion-icon {
    padding: 19px 16px;
}

}
